@model FeedbackProject.ViewModels.RandomCourseViewModel
@{

    ViewBag.Tile = "Random";

}

@*<h2>@Model.Course.CourseName</h2>*@

@if (Model.Feedback.Count == 0)
{
    <text>No one has reviewed this Course before!</text>
}

else
{
<ul>
    @foreach (var feedBack in Model.Feedback)
    {
        <li>@feedBack.FeedbackWriterName</li>
        <li>@feedBack.FeedbackWriterEmail</li>
        <li>@feedBack.Feedback</li>
    }

</ul>
}